<div class="row">
  <div class="col m6 offset-m3 center">
<h5 class="left-align">Edit <%= resource_name.to_s.humanize %></h5>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render partial: 'shared/devisemes' %>
  

  <div class="field">
    <%= f.text_field :name, autofocus: true, :class => "validate", placeholder: "Name" %>
  </div>

  <div class="field">
    <%= f.email_field :email, autofocus: true, :class => "validate", placeholder: "Email" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.password_field :password, autocomplete: "off", :class => "validate", placeholder: "New password (leave blank if you don't want to change it)" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off",  :class => "validate", placeholder: "Confirm password" %>
  </div>

  <div class="field">
    <%= f.password_field :current_password, autocomplete: "off", :class => "validate", placeholder: "we need your current password to confirm your changes"  %>
  </div>

  <button class="btn waves-effect waves-light indigo" type="submit" name="action" >Update</button>
  <%= link_to "Back", :back, :class => "btn-flat wafes-effect waves-light indigo white-text" %>
<% end %>
