<div class="row">
  <div class="col m6 offset-m3 center">
  <h5>Sign up</h5>
  <%= link_to "Sign up with Google", user_google_oauth2_omniauth_authorize_path, class: "btn red darken-1 col m12" %> <br> <br>
  <%= link_to "Sign up with Facebook", user_facebook_omniauth_authorize_path, class: "btn blue darken-4 col m12" %>
  <%= link_to "Sign up with Github", user_github_omniauth_authorize_path, class: "btn grey darken-2 center-align col m12", style: "margin-top:10px" %> <br> <br>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render partial: 'shared/devisemes' %>
  

  <div class="input-field">
    <%= f.text_field :name, autofocus: true, :class => "validate", placeholder: "Username" %>
  </div>

  <div class="input-field">
    <%= f.email_field :email, autofocus: true,  :class => "validate", placeholder: "Email" %>
  </div>

  
  <div class="input-field">
    <%= f.password_field :password, autocomplete: "off",  :class => "validate", placeholder: "Password" %>
  </div>

  <button class="btn btn-block waves-effect waves-light indigo col m12" type="submit" name="action" >Sign up
  <i class="material-icons right">send</i>
  </button>
<% end %>
    
  </div>
</div>


