<div class="row">
  <div class="col m6 offset-m3 center">

<h2>Change your password</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= render partial: 'shared/devisemes' %>
  <%= f.hidden_field :reset_password_token %>

  <div class="field">
    <%= f.password_field :password, autofocus: true, autocomplete: "off", :placeholder => "New Password" %>
  </div>

  <div class="field">
    <%= f.password_field :password_confirmation, autocomplete: "off", :placeholder => "Confirm New Password" %>
  </div>

  <button class="btn waves-effet waves-light indigo" type="submit" name="action" placeholder=""> Change my password</button>
<% end %>
</div>
</div>
