<div class="row">
	<div class="col m6 offset-m3 center">
		
<h5>Forgot your password?</h5>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render partial: 'shared/devisemes' %>

  <div class="input-field">
    <%= f.email_field :email, autofocus: true, :placeholder => "Email" %>
  </div>

  <button class="btn waves-effet waves-light indigo" type="submit" name="action" placeholder=""> Send me reset password instructions</button>
<% end %>

	</div>
</div>