  		<footer class="page-footer indigo darken-2 z-depth-2">
          <div class="container ">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Course4Pro</h5>
                <p class="grey-text text-lighten-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam quia, corporis nulla maiores dolor commodi laborum saepe vero provident facilis, autem repellendus iusto fuga tempora pariatur odio consequuntur, quaerat maxime?.</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Social</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">Twitter</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Facebook</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Google Plus</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright indigo darken-1">
            <div class="container">
            © 2017 Copyright Course4Pro
            <%= link_to "About Us", pages_about_path, class: "grey-text text-lighten-4 right" %>
            </div>
          </div>
        </footer>