 	   <header>
		<ul id="dropdown1" class="dropdown-content">
		  <li><%= link_to "My Profile", edit_user_registration_path %></li>
		  <li><%= link_to "My Projects", myprojects_path %></li>
		  <li class="divider"></li>
		  <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
		</ul>

		<ul id="dropdown2" class="dropdown-content mask">
		  <li><%= link_to "My Profile", edit_user_registration_path %></li>
		  <li><%= link_to "My Projects", myprojects_path %></li>
		  <li class="divider"></li>
		  <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
		</ul>
		
	   	<nav class="light-blue darken-1 darken-2">
	   	<div class="container">
	    <div class="nav-wrapper">
	      <%= link_to "Course4Pro", root_path, class: "brand-logo"%>
	      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>

	      <ul class="right hide-on-med-and-down">
	       <li><%= link_to "Projects", root_path %></li>
	        <% if (!user_signed_in?) %>
		        <li><%= link_to "Sign up", new_user_registration_path %></li>
		        <li><%= link_to "Sign in", new_user_session_path %></li>
		    <% else %>
	        <li><a class="dropdown-button valign-wrapper" href="#!" data-activates="dropdown1">
	        <%= image_tag avatar_url(current_user), class: "circle responsive-img avatar-small", width: "50" %>&nbsp;
	         <%= current_user.name %> <i class="material-icons right">arrow_drop_down</i></a></li>
	        <% end %>
	      </ul>

	      <ul class="side-nav" id="mobile-demo">
	        <li><a href="#">Courses</a></li>
	        <% if (!user_signed_in?) %>
		        <li><%= link_to "Sign up", new_user_registration_path %></li>
		        <li><%= link_to "Sign in", new_user_session_path %></li>
		    <% else %>
	        <li><a class="dropdown-button valign-wrapper" href="#!" data-activates="dropdown2">
	        <%= image_tag avatar_url(current_user), class: "circle responsive-img avatar-small", width: "50" %>&nbsp;
	         <%= current_user.name %> <i class="material-icons right">arrow_drop_down</i></a></li>
	        <% end %>
	      </ul>
	    </div>
	   </div>
	  </nav>
	 </header>