<h3>About me</h3>
<div class="card z-depth-1">
	<div class="card-content white-text">
	<div class="row">
		<div class="col m6">
			<a class="twitter-timeline" href="https://twitter.com/HomamAlhasan">Tweets by HomamAlhasan</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
		</div>
		<div class="col m6">
			<div class="card-panel grey lighten-5 z-depth-1">
				<div class="row valign-wrapper">
					<div class="col m3">
						<%= image_tag "avatar.jpg", class: "circle responsive-img" %>
					</div>
					<div class="col m9">
						<div class="black-text">
							I don't know what to say. let the world tell you more... :)
						</div>
					</div>
				</div>
			</div>
		</div>
	   </div>
	</div>
</div>