<div class="row" data-no-turbolink>
<h1>Projects List</h1>

<% @projects.each do |project| %>
		<%= link_to project do %>
		<div class="col s12 m6 l4">
		 <div class="card">
		<div class="card-image waves-effect waves-block waves-light">
			<%= image_tag project.image.url(:thumb) %>
		</div>
		<div class="card-content" style="height: 6em;">
		<span class="card-title grey-text text-darken-4">
			<%= project.shortname %>
		</span>
			</div>
		</div>
	</div>
	 <% end %>
<% end %>
</div>