<h3>Projects page</h3>

<div class="row" data-no-turbolink>

<% if @projects.count > 0 %>


<% @projects.each do |project| %>
		<%= link_to project do %>
		<div class="col s12 m6 l4">
		 <div class="card">
		<div class="card-image waves-effect waves-block waves-light">
			<%= image_tag project.image.url(:thumb) %>
		</div>
		<div class="card-content" style="height: 6em;">
		<span class="card-title grey-text text-darken-4">
			<%= project.shortname %>
		</span>
			</div>
		</div>
	</div>
  <% end %>

<% end %>
<% else  %>
<div class="center" style="margin-top: 150px;">
	<h5>Currently you're not in any projects</h5>
	<%= link_to "Show me all the projects", root_path, class: "btn btn-primary" %>
</div>
<% end %>
</div>