<div class="row">
  <div class="col m6 offset-m3 center">
<h5>Log in</h5>
  <%= link_to "Sign in with Google", user_google_oauth2_omniauth_authorize_path, class: "btn red darken-1 col m12" %> <br> <br>
  <%= link_to "Sign in with Facebook", user_facebook_omniauth_authorize_path, class: "btn blue darken-4 col m12" %>  <br><br>
  <%= link_to "Sign up with Github", user_github_omniauth_authorize_path, class: "btn grey darken-2 col m12" %>
  


<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <%= render partial: 'shared/devisemes' %>
  
  <div class="input-field">
    <%= f.email_field :email, autofocus: true, :class => "validate", placeholder: "Email" %>
  </div>

  <div class="input-field">
    <%= f.password_field :password, autocomplete: "off", :class => "validate", placeholder: "Passowrd" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field left-align">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>
<br>
  <button class="btn waves-effect waves-light indigo col m12" type="submit" name="action" >Sign in</button>
  <br>
  <%= link_to "Forgot password", new_user_password_path, :class=> "btn-flat waves-effect waves-light" %>
<% end %>

</div>
</div>


