@import "https://fonts.googleapis.com/icon?family=Material+Icons";
@import "materialize";
@import "toastr";
body {
display: flex;
min-height: 100vh;
flex-direction: column;
}

main {
flex: 1 0 auto;
}

.container {
	width: 95%;
}

.avatar-small {
	width: 50px;
}

.avatar-medium {
	width: 80px;
}

.mask {
	z-index: 99;
}