<%= form_for([@project, @review]) do |f | %>
	<div id="user_stars"></div>
	<%= f.text_field :comment %>
	<%= f.hidden_field :project_id, :value => @project.id %>
	<%= f.hidden_field :user_id, :value => current_user.id %>
	
	<div class="actions">
		<%= f.submit %>
	</div>
<% end %>

<script>
	$('#user_stars').raty({
		path: '/assets',
		scoreName: 'review[star]',
		score: 1
	});
</script>