<% if @reviews.blank? %>
	<span class="center">There is no revoiews yet</span>
<% end %>

<% @reviews.order("id desc").each do |r| %>
	<hr>

	<div class="row">
		<div class="col m1">
			<%= image_tag avatar_url(r.user), class: "circle responsive-img avatar-small" %> 
		</div>
		<div class="col m10">
			<div>
				<strong><%= r.user.name %></strong>
				<span class="right"><%= distance_of_time_in_words(r.created_at, Time.now) %></span>
			</div>
			<div id="stars_<%= r.id %>"></div>
			<div><%= r.comment %></div>
			<div>
				<%= link_to "Remove", [@project, r], method: :delete, data: {confirm: "Are you sure? "}  if current_user && current_user.id == r.user.id %>
			</div>
		</div>
	</div>

	<script>
		$('#stars_<%= r.id%>').raty({
			path: '/assets',
			readOnly: true,
			score: <%= r.star %>
		});
	</script>
<% end %>

<script>
jQuery(document).ready(function() {
  jQuery("time.timeago").timeago();
});
</script>